<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .chatWindow{

        width: 100%;
        height: 500px;
        border: 1px solid blue;
    }
    .chatRecord{
        width: 100%;
        height: 400px;
        border-bottom: 1px solid blue;
        line-height:20px;
        overflow:auto;
        overflow-x:hidden;
    }
    .sendWindow{
        width: 100%;
        height: 200px;
    }
    .sendChatValue{

        width: 90%;
        height: 40px;

    }
</style>
<body>
<div style="height: 500px">
    <form id="from1">
    <div style="float:left;width:30%">
        <p>请选择你是谁：</p>
        <select id="selectName">
            <option value="1">请选择</option>
            <option value="ALong">ALong</option>
            <option value="AKan">AKan</option>
            <option value="AYuan">AYuan</option>
            <option value="ALai">ALai</option>
            <option value="ASheng">ASheng</option>
        </select>
        <div class="chatWindow">
            <p style="color:darkgrey">群聊：</p>
            <section id="chatRecord" class="chatRecord">
                <p id="titleval" style="color:#CD2626;"></p>
            </section>
            <section class="sendWindow">
                <textarea name="sendChatValue" id="sendChatValue" class="sendChatValue"></textarea>
                <input type="button" name="sendMessage" id="sendMessage" class="sendMessage" onclick="sendMassMessage()" value="发送">
            </section>
        </div>
    </div>


    <div style="float:left; width:30%">
        <p>请选择你要发给谁：</p>
        <select id="selectName2" onchange="sendAloneUser();">
            <option value="1">请选择</option>
            <option value="ALong">ALong</option>
            <option value="AKan">AKan</option>
            <option value="AYuan">AYuan</option>
            <option value="ALai">ALai</option>
            <option value="ASheng">ASheng</option>
        </select>
        <div class="chatWindow">
            <p style="color:darkgrey">单独聊：</p>
            <section id="chatRecord2" class="chatRecord">
                <p id="titleval1" style="color:#CD2626;"></p>
            </section>
            <section class="sendWindow">
                <textarea name="sendChatValue2" id="sendChatValue2" class="sendChatValue"></textarea>
                <input type="button" name="sendMessage" id="sendMessage1" class="sendMessage" onclick="sendAloneMessage()" value="发送">
            </section>
        </div>


    </div>

     <div style="float: left; width: 20%" >

        <div id="wai">
            <div id="nei" style="background-color: darkgreen; width: 0.5px; height: 20px;"></div>
        </div>
        <span id="precent"></span><br/>
        <input type="file" name="pic" id="pic" onchange="upfile2();"/>
     </div>
    </form>
</div>

<!-- 独立JS -->
<script type="text/javascript" src="../static/js/jquery.js" charset="utf-8"></script>
<!--<script type="text/javascript" src="../static/js/webSocket.js" charset="utf-8"></script>-->
<script type="text/javascript" src="../static/js/sockjs.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/stomp.min.js" charset="utf-8"></script>
<script>
    var stompClient = null;

    //加载完浏览器后  调用connect（），打开双通道
    $(function(){
        //打开双通道
        connect()
    })

    //强制关闭浏览器  调用websocket.close（）,进行正常关闭
    window.onunload = function() {
        disconnect()
    }

    //打开双通道
    function connect(){
        var socket = new SockJS('http://127.0.0.1:8080/endpointOyzc'); //连接SockJS的endpoint名称为"endpointAric"
        stompClient = Stomp.over(socket);//使用STMOP子协议的WebSocket客户端
        stompClient.connect({},function(frame){//连接WebSocket服务端

            console.log('Connected:' + frame);
            //广播接收信息
            stompTopic();

        });
    }

    //关闭双通道
    function disconnect(){
        if(stompClient != null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
    }

    //广播（一对多）
    function stompTopic(){
        //通过stompClient.subscribe订阅/topic/getResponse 目标(destination)发送的消息（广播接收信息）
        stompClient.subscribe('/mass/getResponse',function(response){
            var message=JSON.parse(response.body);
            //展示广播的接收的内容接收
            var response = $("#chatRecord");
            response.append("<p><span>"+message.name+":</span><span>"+message.chatValue+"</span></p>");
        });
    }

    //列队（一对一）
    function stompQueue(){

        var userId=$("#selectName").val();
        alert("监听:"+userId)
        //通过stompClient.subscribe订阅/topic/getResponse 目标(destination)发送的消息（队列接收信息）
        stompClient.subscribe('/user/' + userId + '/alone/getResponse',function(response){
            var message=JSON.parse(response.body);
            //展示一对一的接收的内容接收
            var response = $("#chatRecord2");
            response.append("<p><span>"+message.name+":</span><span>"+message.chatValue+"</span></p>");
        });
    }

    //选择发送给谁的时候触发连接服务器
    function sendAloneUser(){
        stompQueue();
    }

    //群发
    function sendMassMessage(){
        var postValue={};
        var chatValue=$("#sendChatValue");
        var userName=$("#selectName").val();
        postValue.name=userName;
        postValue.chatValue=chatValue.val();
        if(userName==1||userName==null){
            alert("请选择你是谁！");
            return;
        }
        if(chatValue==""||userName==null){
            alert("不能发送空消息！");
            return;
        }
        stompClient.send("/massRequest",{},JSON.stringify(postValue));
        chatValue.val("");
    }
    //单独发
    function sendAloneMessage(){
        var postValue={};
        var chatValue=$("#sendChatValue2");
        var userName=$("#selectName").val();
        var sendToId=$("#selectName2").val();
        var response = $("#chatRecord2");
        postValue.name=userName;
        postValue.chatValue=chatValue.val();
        postValue.userId=sendToId;
        if(userName==1||userName==null){
            alert("请选择你是谁！");
            return;
        }
        if(sendToId==1||sendToId==null){
            alert("请选择你要发给谁！");
            return;
        }
        if(chatValue==""||userName==null){
            alert("不能发送空消息！");
            return;
        }
        stompClient.send("/aloneRequest",{},JSON.stringify(postValue));
        response.append("<p><span>"+userName+":</span><span>"+chatValue.val()+"</span></p>");
        chatValue.val("");
    }
    function upfile(){
        var pic=$("#pic")[0].files[0];
        var fd=new FormData();
        var xhr=new XMLHttpRequest();
        xhr.open('post','/upfile',true);
        xhr.onreadystatechange=function (){
            if(this.readyState==4){
                document.getElementById('precent').innerHTML=this.responseText;
            }
        }
        xhr.upload.onprogress=function (ev){
            //console.log(ev);控制台打印progress { target: XMLHttpRequestUpload, isTrusted: true, lengthComputable: true,<br> //loaded: 15020, total: 15020, eventPhase: 0, bubbles: false, cancelable: false, defaultPrevented: false, <br>//timeStamp: 1445144855459000, originalTarget: XMLHttpRequestUpload }
            if(ev.lengthComputable){
                var precent=100 * ev.loaded/ev.total;
                console.log(precent);
                document.getElementById('nei').style.width=precent+'%';
                document.getElementById('precent').innerHTML=Math.floor(precent)+'%';
            }
        }
        fd.append('file',pic);
        fd.append("userName","name1");
        fd.append("password",'123456');

        xhr.send(fd);

    }
    //upfile2和upfile都可以实现
    function upfile2() {
        var pic=$("#pic")[0].files[0];
        var fd=new FormData();
        fd.append("file",pic);
        fd.append("userName","name2");
        fd.append("password","123456");
        $.ajax({
           type:"post",
            url:"/upfile",
            async:true,//这里要设置异步上传，才能成功调用myXhr.upload.addEventListener('progress',function(e){}),progress的回掉函数
            processData:false,
            contentType:false,
            data:fd,
            dataType:"json",
            success:function (data) {
                console.log(data);
            },
            xhr:function () {
                myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){ // check if upload property exists
                    myXhr.upload.addEventListener('progress',function(e){
                        if(e.lengthComputable){
                            var precent=100 * e.loaded/e.total;
                            console.log(precent);
                            document.getElementById('nei').style.width=precent+'%';
                            document.getElementById('precent').innerHTML=Math.floor(precent)+'%';
                        }
                    }, false); // for handling the progress of the upload
                }
                return myXhr;
            }
        });
    }


</script>
</body>
</html>